In [28]:
import pandas as pd
from glob import glob

In [29]:
path = "/data/codes/apa/kaldi/stt/resources/lexicon"

lexicon = pd.read_csv(path, names=["word", "arpa"], sep="\t")
vocab = set(lexicon["word"].to_list())

In [30]:
path = "/data/codes/apa/kaldi/stt/data/stt-data/kaldi/*/text"
text_df = []

for file in glob(path):
    tmp = pd.read_csv(file, names=["id", "text"], sep="\t")
    
    text_df.append(tmp)
    
text_df = pd.concat(text_df)
text_df.dropna(inplace=True)
text_df.head()

        id                                text
0  1120485  SHE USUALLY WEARS COLORFUL CLOTHES
1  1121964                            FREEZING
2  1122538                               LIGHT
3  1124030                            MAGAZINE
4  1124158                              GERMAN

In [31]:
oov = []

def check(text):
    for word in text.split():
        if word not in vocab:
            oov.append(word)
            
text_df.text.apply(check)

0        None
1        None
2        None
3        None
4        None
         ...
23987    None
23988    None
23989    None
23990    None
23991    None
Name: text, Length: 566355, dtype: object

In [32]:
oov = set(oov)
print(oov)

set()

In [33]:
len(oov)

0

In [27]:
with open("word.txt", "w") as f:
    f.write("\n".join(oov).lower())