In [24]:
import pandas as pd
import re

In [34]:
path = "/data/codes/apa/serve/exps/kaldi/data/lang_test_tgsmall/phones.txt"

phone_df = pd.read_csv(path, names=["phone", "phone_id"], sep=" ")
phone_df.head()

   phone  phone_id
0  <eps>         0
1    SIL         1
2  SIL_B         2
3  SIL_E         3
4  SIL_I         4

In [35]:
is_valid = phone_df.phone.apply(lambda x: x.startswith("#"))
phone_df = phone_df[~is_valid]
print(phone_df.shape)
phone_df.head()

(351, 2)

   phone  phone_id
0  <eps>         0
1    SIL         1
2  SIL_B         2
3  SIL_E         3
4  SIL_I         4

In [36]:
phone_df["phone_pure"] = phone_df.phone.apply(lambda x: x.split("_")[0])
phone_df["phone_pure"] = phone_df["phone_pure"].apply(lambda x: re.sub("\d", "", x))

In [37]:
phone_pure_id = -1
tmp_phone_pure = None

for index in phone_df.index:
    phone_pure = phone_df["phone_pure"][index]
    if phone_pure != tmp_phone_pure:
        phone_pure_id += 1

    tmp_phone_pure = phone_pure
    
    phone_df.loc[index, "phone_pure_id"] = str(phone_pure_id)

In [38]:
phone_df

     phone  phone_id phone_pure phone_pure_id
0    <eps>         0      <eps>             0
1      SIL         1        SIL             1
2    SIL_B         2        SIL             1
3    SIL_E         3        SIL             1
4    SIL_I         4        SIL             1
..     ...       ...        ...           ...
346    Z_S       346          Z            42
347   ZH_B       347         ZH            43
348   ZH_E       348         ZH            43
349   ZH_I       349         ZH            43
350   ZH_S       350         ZH            43

[351 rows x 4 columns]

In [39]:
phone_to_pure_phone_path = "/data/codes/apa/serve/exps/kaldi/data/phones/phone-to-pure-phone.int"
phone_list_path = "/data/codes/apa/serve/exps/kaldi/data/phones/phones-list.txt"

In [40]:
phone_df[["phone_id", "phone_pure_id"]].to_csv(phone_to_pure_phone_path, sep="\t", header=None, index=None)

In [41]:
phone_df["type"] = 1

In [ ]:
phone_df.drop_duplicates("phone_pure")[["phone_pure", "phone_pure_id", "type"]].to_csv(phone_list_path, sep="\t", header=None, index=None)