In [7]:
import pandas as pd
from jiwer import wer

In [9]:
cmu_path = "/data/codes/apa/kaldi/g2p/data/cmu-output.txt"

cmu_output = pd.read_csv(cmu_path, names=["word", "cmu"], sep="\t")
cmu_output.head()

         word                           cmu
0      mangle              M AE1 NG G AH0 L
1       force                     F AO1 R S
2        cava                   K AA1 V AH0
3       singe                    S IH1 N JH
4  hesitantly  HH EH1 Z IH0 T AH0 N T L IY0

In [10]:
cmu_cam_path = "/data/codes/apa/kaldi/g2p/data/cmu-cam-output.txt"

cmu_cam_output = pd.read_csv(cmu_cam_path, names=["word", "cmu_cam"], sep="\t")
cmu_cam_output.head()

         word                       cmu_cam
0      mangle              M AE1 NG G AH0 L
1       force                     F AO1 R S
2        cava                   K AE2 V AH0
3  hesitantly  HH EH1 Z IH0 T AH0 N T L IY0
4   baptismal   B AE1 P T IH0 Z AH0 M AH0 L

In [11]:
label_path = "/data/codes/apa/kaldi/g2p/data/test"

label = pd.read_csv(label_path, names=["word", "label"], sep="\t")
label["word"] = label.word.apply(lambda x: x.lower())
label.head()

         word                         label
0      mangle              M AE1 NG G AH0 L
1       force                     F AO1 R S
2  hesitantly  HH EH1 Z IH0 T AH0 N T L IY0
3        cava                   K AA1 V AH0
4   baptismal       B AE0 P T IH1 Z M AH0 L

In [16]:
def cal_ler(pred, label):
    error = wer(label, pred)

    return error

In [18]:
result = pd.merge(label, cmu_cam_output, on="word", how="inner")
result["ler"] = result.apply(lambda x: cal_ler(pred=x["cmu_cam"], label=x["label"]), axis=1)
print(result.ler.mean())

0.11178380016791334

In [20]:
result = pd.merge(label, cmu_output, on="word", how="inner")
result["ler"] = result.apply(lambda x: cal_ler(pred=x["cmu"], label=x["label"]), axis=1)
print(result.ler.mean())

0.01831786729773672