In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
path = "/data/codes/apa/kaldi/g2p/lexicon/cmu-cam-lexicon"
lexicon = pd.read_csv(path, names=["word", "arpa"], sep="\t")
lexicon.head()

       word                   arpa
0  AARDVARK      AA1 R D V AA2 R K
1        AB              EY1 B IY1
2     ABACK            AH0 B AE1 K
3    ABACUS      AE1 B AH0 K AH0 S
4   ABALONE  AE2 B AH0 L OW1 N IY0

In [8]:
train, test = train_test_split(lexicon, test_size=0.1, random_state=42)

In [9]:
train_path = "/data/codes/apa/kaldi/g2p/data/train"
train.to_csv(train_path, index=None, columns=None, header=None, sep="\t")

In [10]:
test_path = "/data/codes/apa/kaldi/g2p/data/test"
test.to_csv(test_path, index=None, columns=None, header=None, sep="\t")

In [13]:
path = "/data/codes/apa/kaldi/g2p/data/test-word.txt"
with open(path, "w", encoding="utf-8") as f:
    f.write("\n".join(test["word"].apply(lambda x: x.lower()).tolist()))