In [1]:
import pandas as pd
import os

In [2]:
path = "/data/codes/apa/kaldi/stt/resources/lexicon"
lexicon = pd.read_csv(path, names=["word", "arpa"], sep="\t")
lexicon.head()

       word              arpa
0    'TWIXT     T W IH1 K S T
1  -BAITING    B EY1 T IH0 NG
2     -CIDE           S AY2 D
3   -ECTOMY  EH1 K T AX M IY0
4       -EE               IY0

In [19]:
path = "/data/codes/apa/kaldi/g2p/lexicon/elsa-lexicon.txt"
lexicon_1 = pd.read_csv(path, names=["word", "arpa"], sep="\t")
lexicon_1.head()

       word               arpa
0    'TWIXT      T W IH1 K S T
1  -BAITING     B EY1 T IH0 NG
2     -CIDE            S AY2 D
3   -ECTOMY  EH1 K T AH0 M IY0
4       -EE                IY0

In [20]:
print(lexicon_1.shape)
lexicon_1[lexicon_1.word.isin(lexicon.word)].shape

(43610, 2)

(43609, 2)

In [11]:
lexicon_1[~lexicon_1.word.isin(lexicon.word)]

           word     arpa
83564     HH HH      NaN
123262      NaN    N AA1
127439      NaN  N AH1 L
206508  lexicon      NaN